body {
  background-color: #d9e0eb;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #006cff;
}

section {
  margin: 50px 0;
}

h2 {
  font-size: 40px;
  line-height: 69px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.btn {
  background-color: #ff6c00;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 51.3px;
  font-weight: 700;
  padding: 5px 64px;
  margin: 35px 0;
  transform: .2s;
  margin: 5px auto;
  &:hover {
    background-color: #ff6a00e0;
    color: #fff;
    box-shadow:  none;
  }
  
}

.header {
  height: 80vh;
  background-image: url(../img/bgHed.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 5px 5px 15px 5px #0000;
}

.stock {
  margin: 0;
  p {
    font-size: 50px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  h1 {
    font-size: 50px;
    line-height: 82px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  span {
    font-size: 50px;
    line-height: 82px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #006cff;
    padding: 5px 40px;
  }
  .stock__content {
    height: 400px;
    background-image: url(../img/Clouds.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    .stock__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
    h2 {
      font-size: 63.4px;
      line-height: 69px;
      font-weight: 700;
      text-align: right;
    }
    p {
      
    font-size: 2.1rem;

      color: #ff6c00;
      font-weight: 700;
      text-align: right;
      margin-top: 40px;
    }
  }
}

.innovationi {
  h2 {
    text-align: center;
  }
  p {
    margin: 13px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
  }
  
  .innovationi__img-wrap {
    display: flex;
    justify-content: center;
    .women {
      width: 772px;
      height: 178px;
      object-fit: cover;
    }
    img {
      margin: 10px 35px;
    }
  }
}

.advantages {
  img {
    margin: 5px 0;
  }
}

.sharacteristics {
  color: #fff;

  margin-bottom: auto;
  h2 {
    text-align: center;
  }
  .sharacteristics-wrap {
    padding: 20px 10px;
    background-color: #006cff;
    .sharacteristics__content-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 265px;
        height: 174px;
        object-fit: cover;
      }
    }
    .sharacteristics-inner {
      .sharacteristics-list {
        list-style: none;
        text-align: right;
      }
    }
  }
  .sharacteristics-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -36px;
  }
}

.delivery {
  p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }

  .delivery__content {
    margin-top: 130px;

    h2 {
      font-size: 63.4px;
      line-height: 69px;
      font-weight: 700;
      text-align: right;
    }
    p {
      font-size: 35px;
      color: #ff6c00;
      font-weight: 700;
      text-align: right;
      margin-top: 40px;
    }
    img {
      width: 408px;
      height: 224px;
      object-fit: cover;
    }
    .delivery__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  }
}

.order__form {
  .form__wrap {
    background-color: #006cff;
    color: #fff;
    padding: 50px 0;
    h2 {
      text-align: center;
    }
    .check__radio {
      .form__input-num {
        float: right;
        margin-top: -29px;
        width: 100px;
      }
    }
  }
  form {
    align-items: center;
    text-align: center;
}

  .form-group {
    max-width: 585px;
    margin: 0 auto;
  }
  .footer__sub {
    margin: 20px 0;
    p {
      font-size: 18px;
      line-height: 10px;
      font-weight: 400;
      font-style: italic;
      text-align: center;
    }
  }
}
